<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
   
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Sign In</a></li>
                <li><a href="{% url 'list_jokes' %}">List Jokes</a></li>
                <li><a href="{% url 'create_joke' %}">Create Joke</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Include any additional scripts here -->
</body>
</html>
